<nav class="navbar">
  <div class="container-fluid navbar-container">
    
    <a class="navbar-brand" routerLink="/">
      <span class="icon">🏹</span>
      <span class="text">Job Hunter</span>
    </a>

    <div class="navbar-right-side">
      
      <div class="nav-links">
        <a routerLink="/" routerLinkActive="active" class="nav-item">
          Başvurular
        </a>
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
          Analiz
        </a>
      </div>

      <div class="user-profile">
        <div class="avatar">DO</div>
      </div>

    </div>

  </div>
</nav>